.uni-card {
    width: 50vw;
    margin: 20px auto;
    padding: 5px;
}

.uni-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: white;
}

